@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

mark {
  padding: 5px 10px;
  border-radius: 10px;
}

.input[disabled] {
  border: none;
}

.btn {
  border: none;
}

/* fix daisy button won't show loading spinner issue */
.btn.loading.btn-square:before {
  border: 2px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
}

/* hide pyscript related stuff */
py-config,
py-script,
py-splashscreen,
py-terminal {
  display: none;
}
